<!-- The footer at the very bottom of the screen -->
<footer class="footer section-padding">
  <div class="grid">
    <div class="footer__container">
      <p class="license">
        <small>
          Pokud vám česká verze pomohla při vaší cestě Bitcoinovou králičí norou, 
          můžete za překlad poděkovat zasláním satů na lightningovou adresu 
          nekonecnik@stacker.news ⚡ nebo on-chain na PayNym 
          <a href="https://paynym.is/+muddydarkness33F">+muddydarkness33F</a> ⛓️
          <br/>
          Máte-li dotaz nebo připomínku, můžete mě kontaktovat na 
          <a href="https://twitter.com/nekonecnik">twitteru</a>, případně otevřít issue 
          nebo pull request na <a href="https://github.com/sifrant/21lekci">githubu</a>.
          <hr/>
          Není-li uvedeno jinak, je obsah na těchto stránkách licencován pod
          <a href="https://creativecommons.org/licenses/by-sa/4.0/"
          target="_blank">Creative Commons Attribution-ShareAlike 4.0
          International (CC BY-SA 4.0)  license</a>. Pokud se vám obsah tohoto 
          webu líbí, máte mnoho způsobů, jak <a
          href="https://dergigi.com/support">vyjádřit svou podporu</a>.
        </small>
      </p>
      {% include social.html %}
      <p class="sister_projects">
        <small>
          Sesterské projekty:
          <a href="https://bit.ly/21waysbook">21 Ways</a> ·
          <a href="https://bitcoin-resources.com">Bitcoin Resources</a> ·
          <a href="https://www.bitcoin-quotes.com">Bitcoin Quotes</a> ·
          <a href="https://opsecswag.com/">Opsec Swag</a>
        </small>
      </p>
      <p class="license">
        <small>
          Ze 🧡 vytvořil <a href="https://dergigi.com">Gigi</a> a 
          přeložil <a href="https://twitter.com/nekonecnik">sifrant</a>
        </small>
      </p>
    </div>
  </div>
</footer>

{% if paginator.next_page %}
  <script>
    var maxPages = parseInt('{{ paginator.total_pages }}');
  </script>
{% endif %}

<script src="{{ '/assets/js/app.min.js' | prepend: site.baseurl }}"></script>

<!-- Amazon OneLink, for country-based redirects -->
<script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=24d60e4a-ce4c-42a0-9d88-40f766b2d4f4"></script>
