<nav>
  <ul class="header__list">
<!--    <li><a href="https://sifrant.github.io/jednadvacet"><img src="21mini.png" alt="jednadvaCZet"></li>-->
    <a class="header__title" href="{{ '/' | absolute_url }}">
    <img src="{{ site.default_img | absolute_url }}"/></a>
    <li><a href="https://amzn.to/2VXmQgp">Koupit knihu</a></li>
    <li><a href="{{ '/reviews' | absolute_url }}">Recenze</a></li>
    <li><a href="{{ '/toc' | absolute_url }}">Obsah</a></li>
    <li><a href="https://dergigi.com/support">🧡</a></li>
  </ul>
</nav>
